CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# NanoC6 has 4MB flash — override 8MB default
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_4mb.csv"
